{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
<h1>hgellodqzd</h1>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}