{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
{% endblock %}
{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits informatiques</h1>
    </div>
<div class="container pt-5">
 <div class="row">
    {% for article in articles %}
    <div class="col-4 mt-4">
        <div class="border border-dark rounded p-2 clearfix">
            <h2>
                {{ article.nom }}
                -
                {{ article.prix }}

            </h2>
            <img class="img-fluid rounded" src="uploads/{{ article.image }}" alt="Image de {{ article.nom }}">

            <hr>
            <a href="#" class="btn btn-success float-right">
                <i class="fas fa-shopping-cart mr-1"></i>
                Ajouter
            </a>
        </div>
    </div>
    {% endfor %}
        </div>
        </div>

{% endblock %}
